{:paths ["src"]
 :deps  {org.clojure/clojure  {:mvn/version "1.12.1"}
         waymark10/waymark10  {:local/root "../waymark10"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}
                       lambdaisland/kaocha    {:mvn/version "1.91.1392"}}
         :main-opts   ["-m" "kaocha.runner"]}
  :dev  {:main-opts ["-m" "mealplan10.main"]}}}
